<div id="container">
<img src="/assets/sin.jpg"></img>
<div class="d-flex justify-content-center">
<form action="home/index2" method='get'>
  <h3>신이 나를 만들 때</h3>
  <input class="input1" type="text" name="input_text" placeholder="이름을 입력하시오">

  <p>입력하신 정보는 본 퀴즈 이외의 용도로 사용하지 않습니다.</p>
  <input class="input2" type="submit" value="시작하기 -> ">
</form>
</div>
</div>
</div>