<h2><%= "신이 #{@name}을(를) 만들 때.." %></h2>
<button type="button" class="btn btn-primary btn-lg btn-block">페이스북에 공유하기</button>

<div class="card-group">
  <div class="card">

    <div class="card-block">
      <h3 class="card-text"><span class="blue" name="card-text"><%=@random[0]%></span>을 조금 넣고!!</h3>
      <img class="card-img-top" src="/assets/sin1.jpg" alt="Card image cap"></img>
    </div>
  </div>
  <div class="card">

    <div class="card-block">
      <h3 class="card-text"><span class="red" name="card-text"><%=@random[1]%></span>도 조금 있으면 좋겠군!</h3>
      <img class="card-img-top" src="/assets/sin2.jpg" alt="Card image cap"></img>

    </div>
  </div>
  <div class="card">

    <div class="card-block">
      <h3 class="card-text"><span class="green" name="card-text"><%=@random[2]%></span>을 마지막으로 엌!!바닥에 쏟았부렸네;;</h3>
      <img class="card-img-top" src="/assets/sin3.jpg" alt="Card image cap"><img>
    </div>
  </div>
</div>